
<!--Include Header-->

<%-include('include/_header')%>

<!--/Include Header-->



<main>
    <h2>Edit a Note</h2>
        <form action="/edit" method="POST" id="edit_note">
            <input type="hidden" name="noteId" value="<%= usernotes._id %>">
            <input type="text" name="title" placeholder="Title" required  value="<%= usernotes.title %>">
            <textarea name="content" id="editor-edit" style="height: 200px;" ><%= usernotes.content %></textarea>
            <input   name="content" id="content-edit" required   style="display: none;">

            <button type="submit">Update Note</button>
        </form>
</main>


    <!--Include footer-->

    <%-include('include/_footer')%>

    <!--/Include footer-->
    <script>
    ClassicEditor
  .create(document.querySelector('#editor-edit'))
  .then(editor => {
    console.log('CKEditor initialized successfully');
  })
  .catch(error => {
    console.error('Error initializing CKEditor:', error);
  });
</script>
